%h2 Similar movies for #{@movie.title}

%table#movies.table.table-striped.col-md-12
  %thead
    %tr
      %th Movie Title
      %th Director
      %th Rating
      %th Release Date
  %tbody
    - @similar_movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.director
        %td= movie.rating
        %td= movie.release_date

= link_to 'Back', movies_path
